<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConfigPuertoNroCommPort" value="1"/>
    <add key="ConfigLogDataReceiving" value="S"/>
    <add key="DB_Provider" value="Microsoft.ACE.OLEDB.12.0"/>
    <add key="DB_Source" value="default"/> <!--valores:default o la ruta donde esta la base. default toma Path de la aplicacion-->
  </appSettings>
</configuration>

