<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="serialPortName" value="COM1" />
      <add key="serialPortBaudios" value="9600" />
      <add key="serialPortParity" value="0" />
      <add key="serialPortBitsDatos" value="8" />
      <add key="serialPortBitsStopBits" value="2" />
      <add key="ConfigLogDataReceiving" value="S" />
      <add key="DB_Provider" value="Microsoft.ACE.OLEDB.12.0" />
      <add key="DB_Source" value="default" />
      <!--valores:default o la ruta donde esta la base. default toma Path de la aplicacion-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


